.container-3D {
  width: 99%;
  /* background-color: tomato; */
}

.vis-container {
  width: 90%;
  margin: auto;
  height: 55vh;
  border: 2px solid white;
}

.label {
  width: 5px;
  color: red;
}

.label_grid {
  /* background-color: red !important; */
  width: 1px !important;
}

.controls-3D {
  display: flex;
  flex-direction: row;
}

.settings-div {
  display: inline-block;
  background-color: lightskyblue;
  margin: 20px;
  justify-content: center;

  .settings {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid black;

    .settings-sect {
      margin: 5px 0px !important;
    }

    input {
      margin: 0 5px;
      width: 50px;
      border-radius: 13%;
      font-size: 15px;
      height: 36px;
      text-align: center;
    }

    #preset,
    #colorStyle,
    #gridSize,
    #generationSpeed {
      width: 40%;

      #setting-load {
        width: 50%;
        margin: auto;
      }
    }
  }
}
